body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;

  cursor: url('images/Small_Plane.png'), auto;

  background: url('images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vh;
  height: 300px;
  position: absolute;
}
