body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;

  cursor: url('images/Small_Plane.png'), auto;

  background: url('images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vh;
  height: 300px;
  position: absolute;
}

.header {
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  flex-direction: row;
  margin-left: 20px;
}

span {
  width: 100px;
  display: inline-block;
}

.lifepoints {
  display: flex;
}

.lifepoints div {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
}

.end_game {
  display: none;
  width: 80em;
  background-color: white;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.end_game div {
  display: none;
  flex-direction: row;
}
